<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <img src="~/Image/Logo Auto Grant.png" width="25" height="25" align="left" style="margin-top: -4px" />
        <img src="~/Image/Logo Group M.png" width="80" height="25" align="right" style="margin-top: -4px" />
        <div style="margin-top: 5px;">
            &nbsp;<span style="font-family: 'Microsoft Sans Serif'; font-size: 11.25pt; margin-top: 5px">Auto Grant Permission</span>
        </div>
        <br />
        <hr style="margin-top: -8px; margin-left: -8px; margin-right: -8px" />
    </div>
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
