<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="Minder" connectionString="Data Source=BKKSQLP01102\SQLINS02_2008R2;database=Minder_Thai;User id=bkkit;Password=Groupm#03;" />-->
    <add name="Minder" connectionString="Data Source=BKKAPPT01106\SQLINS01_2008R2;database=Minder_Test_20230808;User id=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAB0DKXQDH3s1BNxkxEWtD019/XkM92A69jfMZgB5wPwu;" />
  </connectionStrings>
</configuration>