<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MPAServerConfig" connectionString="Data Source=BKKAPPT01106\SQLINS01_2008R2;database=Minder_Test_20230511_TestMDF;User id=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAB0DKXQDH3s1BNxkxEWtD019/XkM92A69jfMZgB5wPwu;"/>
    <add name="Minder" connectionString="Data Source=BKKAPPT01106\SQLINS01_2008R2;database=Minder_Test_20230511_TestMDF;User id=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAB0DKXQDH3s1BNxkxEWtD019/XkM92A69jfMZgB5wPwu;"/>

    <add name="MainApp" connectionString="Data Source=BKKSQLP01101\SQLINS01_2008R2;Database=MPA;User id=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAB0DKXQDH3s1BNxkxEWtD019/XkM92A69jfMZgB5wPwu;"/>
    <add name="MPA" connectionString="Data Source=BKKSQLP01101\SQLINS01_2008R2;database=MPA;User id=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAMwzqgAB+bDmfKMkgDaUnz0j/I7pQhVsUvCrrRQeh38R;Password=EAAAAB0DKXQDH3s1BNxkxEWtD019/XkM92A69jfMZgB5wPwu;"/>
    <!--<add name="MainAppDemoEntities" connectionString="metadata=res://*/MainAppModel.csdl|res://*/MainAppModel.ssdl|res://*/MainAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BKKAPPT01104\SQLINS01_2008R2;initial catalog=MainAppDemo;user id=bkkit;password=Groupm#03;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  
  
  </connectionStrings>
  <appSettings>
    <!--Authenticate-->
    <add key="LoginDomain" value="true"/>
    <add key="Server" value="BKKRDCP01102"/>
    <add key="Domain" value="AD"/>
    <!--Dianostic Information-->
    <add key="TemplateWeeklyTrackingReport" value="C:\Documents and Settings\siwa.p\Desktop\Code\GroupM.Minder\GroupM.Minder\bin\Debug\Report Template\TemplateWeeklyTrackingReport.xlsx"/>
    <add key="TemplateMonthlyTVScheduleSupplierReport" value="C:\Documents and Settings\siwa.p\Desktop\Code\GroupM.Minder\GroupM.Minder\bin\Debug\Report Template\TemplateMonthlyTVScheduleSupplierReport.xlsx"/>
    <add key="DatabaseAddress" value="AD"/>
    <add key="ServiceAddress" value="AD"/>
    <add key="PublishVersion" value="AD"/>
    <add key="PublishLocation" value="AD"/>
    <add key="SupportEmail" value="administrator@groupm.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ReportMinder" value="R:\Minder\Test\Report\"/>
	  <add key="ParameterMinder" value="R:\Minder\Test\SIT\Parameter.mdb"/>
    <!--<add key="URLAPI" value="http://localhost:44387/api/" />-->
    <add key="URLAPI" value="http://bkkappt01106:90/api/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
