
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/AutoGrant_Layout.cshtml";
}

<div align="center">
    <img src="~/Image/approve success.jpg" alt="Approve Success" width="222" height="208" />
    <br />
    <h1>The Request was successfully approved.</h1>
    <br />
    Thank you.
</div>
