
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/AutoGrant_Layout.cshtml";
}

<div align="center">
    <h1>Reject Failed.</h1>
    <br />
    <img src="~/Image/Fail.png" alt="Reject Fail" width="50" height="50" />
    <br />
    <h3>@ViewBag.Detail</h3>
</div>
