
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/AutoGrant_Layout.cshtml";
}

<div align="center">
    <img src="~/Image/reject success.jpg" alt="Approve Success" width="240" height="220" />
    <br />
    <h1>The Request was successfully rejected.</h1>
    <br />
    Thank you.
</div>
