<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="ServerMinder" value="[Minder_Test_20210802]" />
        <add key="URLAPI" value="http://localhost:44387/api/" />
    </appSettings>
    <connectionStrings>
        <add name="WorkFlow" connectionString="Data Source=BKKAPPT01106\SQLINS01_2008R2;database=Workflow;User id=bkkit;Password=Groupm#03;" />
    </connectionStrings>
</configuration>